#hp, .logo, .shadow {
    filter: drop-shadow(0.5em 0.5em 0.313em #00000080);
  }
  
  .custom-scrollbar {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #f177a6;
    border-radius: 15px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #333333;
  }
  
  .custom-scrollbar::-moz-scrollbar {
    width: 10px;
  }
  
  .custom-scrollbar::-moz-scrollbar-thumb {
    background-color: #f177a6;
    border-radius: 15px;
  }
  
  .custom-scrollbar::-moz-scrollbar-track {
    background-color: #333333;
  }

.navbar ul li a,
button {
  color: #f0f8ff;
  font-size: 1.25em;
}

.navbar ul li a,
a {
  text-decoration: none;
}

.navbar ul li:hover::after,
button:hover span,
iframe {
  width: 100%;
}

iframe,
span {
  bottom: 0;
  height: 100%;
}

@font-face {
  font-family: fonfon;
  src: url(pc.ttf);
  font-display: auto;
}

@font-face {
  font-family: title;
  src: url(../sources/title.ttf);
  font-display: auto;
}

@media (max-width: 750px) {
  #background-video {
    display: none;
  }
  body {
    background: url("../sources/bg.webp") no-repeat;
    background-size: cover;
  }
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.name,
button {
  background: 0 0;
  position: relative;
}

button {
  width: 8.5em;
  height: 2.5em;
  margin: 1.25em 0.625em;
  font-weight: 700;
  border: 0.125em solid #f177a6;
  cursor: pointer;
  border-radius: 1.563em;
  text-align: center;
  overflow: hidden;
}

.navbar ul li::after,
span {
  width: 0;
  background: #f177a6;
  position: absolute;
  transition: 0.5s;
  left: 0;
}

span {
  border-radius: 1.563em;
  z-index: -1;
}

button:hover,
iframe {
  border: none;
}

h1 {
  filter: drop-shadow(0.4em 0.4em 0.313em #000000bd);
  font-size: 3em;
}

h2,
h3 {
  filter: drop-shadow(0.375em 0.375em 0.313em #00000080);
}

img.resize {
  align-self: baseline;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center,
.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#hp {
  float: left;
  margin: 0 0.938em 0 0;
}

.prevent-select {
  user-select: none;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 1.25em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: default;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 1.25em;
  position: relative;
}

.navbar ul li a {
  text-transform: uppercase;
}

.navbar ul li a:hover {
  filter: drop-shadow(0.063em 0.063em 0.313em #f0f8ff);
  transition: 0.3s;
}

.navbar ul li::after {
  content: "";
  height: 0.188em;
  bottom: -0.313em;
}

.center {
  font-size: 1.2em;
  margin: auto;
  width: 75%;
  padding: 1.875em;
  user-select: none;
  box-shadow: 0.313em 0.313em 0.625em 0.125em rgba(0, 0, 0, 0.7);
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.noscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.textshadow {
  filter: drop-shadow(0.125em 0.125em 0.313em #00000085);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #0ff;
}

a:hover {
  text-decoration: underline;
  filter: drop-shadow(0 0 0.313em #00ffff);
  transition: 0.3s;
}

.name {
  color: #ffbad4;
  filter: drop-shadow(0 0 0.625em #f177a6);
}

iframe {
  position: fixed;
  background: #000;
  top: 0;
  right: 0;
  left: 0;
}
